img {
    width: 90%; 
    height: 90%;
    
}


#imgBlock{
    width:100%;
    height: auto;
    margin-top: 40px;
    text-align: center;
}


#topTitle{
    
    margin-top: 30px;
    font-size:3vw
}


#titleOfForm{
    height: auto;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

h2{
    margin-top: 60px;
    margin-left: 90px;
    font-size: 2vw;
    
}



table {
    height: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-top: 30px;
    margin-left: 90px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }


  #columnTitle{
      background-color: rgb(154, 11, 11);
  }

  input{
      border-style: none;
  }